.celda1{background-color: aqua; width: 100px;}
.celda2{background-color: brown; width: 100px;}
.celda3{background-color: salmon; width: 100px;}
.celda4{background-color: fuchsia; width: 100px;}
.celda5{background-color: lightpink; width: 100px;}


.box1{background-color: royalblue; height: 100px; width: 150px; display: inline-block;}
.box2{background-color:  khaki; height: 100px; width: 150px; display: inline-block;}
.box3{background-color: lightcoral; height: 100px; width: 150px; display: inline-block;}
.box4{background-color: turquoise; height: 100px; width: 150px; display: inline-block;}
.box5{background-color: darkorange; height: 100px; width: 150px; display: inline-block;}

