.celda1{background-color: aqua; width: 100px;}
.celda2{background-color: brown; width: 100px;}
.celda3{background-color: salmon; width: 100px;}
.celda4{background-color: fuchsia; width: 100px;}
.celda5{background-color: lightpink; width: 100px;}